html,
body,
.container-fluid {
  height: 100%;
  width: 100%;
  position: fixed;
}

#map {
  position: relative;
  height: 85%;
  width: 100%;
}

.navbar-custom .navbar-brand:link,
.navbar-custom .navbar-brand:visited,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:active {
  color: #2E3917;
}

.navbar-custom {
  width:100%;
  background-color: white;
  color: #2E3917;
  top:0;
}

h4 {
  color: #2E3917;
}

.info {
  padding: 6px 8px;
  font: 14px;
  background-color: ;
  border-radius: 5px;
}

.legend {
  background-color: white;
  line-height: 25px;
  color: black;
  width: auto;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

footer {
  background-color: white;
  color: #2E3917;
  font-size: 9pt; 
  text-align: center; 
  vertical-align: middle;
  line-height: 45px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

#leaflet-link:link,
#leaflet-link:visited,
#leaflet-link:hover,
#leaflet-link:active {
  color: #2E3917;
}

#gh-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}